*{
    margin: 0;
    box-sizing: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background: url(back.jpg);
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}